/* 
    Document   : yii-money
    Created on : Feb 1, 2012, 10:39:02 PM
    Author     : dandeluca

*/


/* General */
body{padding-bottom: 40px;padding-top: 80px;}

a,a:focus{outline: none;}
.search-button{margin-top: 10px;}

span.required{color:#ff0000;}

.green{color: #03bd03}
.red{color: #ff0000}

 /*Headings*/ 
h2, h3, h4, h5, h6{margin:0 0 5px 0px}
h1{font-size: 27px;line-height: 29px;margin: 0 0 20px;}
h2{font-size: 22px;line-height: 21px;}


 /*Detail View*/ 
table.detail-view{margin: 0 0 30px;font-size: 15px;}

.form{overflow: hidden;}
.form .control-group{width:270px;height:80px;float: left;margin:0px;}
.form .control-group.wide {clear: both;float: none;height: 40px;width: auto;}
.form .control-group.buttons{padding:13px 25px 0 0;width:245px;height:67px;}
.search-form{padding-top:15px;}

.sidebar-nav{margin-bottom: 20px;}
.tab-content form{margin:0px;}
.nav.nav-tabs{margin: 0px;}
.tab-pane{border-radius:0 4px 4px 4px;padding:15px 10px 10px 20px;border-bottom: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD}

.form-tabs{width: 845px;}
.action-buttons{overflow: hidden;}
.action-buttons .btn{margin: 0 0 0 10px;}
.action-buttons *{float: right;overflow: hidden;}
