/* 
    Document   : yii-money
    Created on : Feb 1, 2012, 10:39:02 PM
    Author     : dandeluca

*/


/** General **/
.body {margin-top: 65px;padding: 15px 0px;}
label {margin-bottom: 1px;}


/** Headings **/
h1 {font-size: 24px;line-height: 36px;}


/** Grids **/
.grid-view table.items th {background: none repeat scroll 0 0 #666666;}
.grid-view .filters input, .grid-view .filters select {
    border: 1px solid #CCCCCC;
    width: 93%;
}

.portlet {width:300px;}

ul.yiiPager a:link, ul.yiiPager a:visited {
 
    color: #0E509E;
    font-weight: bold;
    padding: 5px 14px;
    text-decoration: none;
	display: inline-block;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid #DDDDDD;
	 background-color: #FFFFFF;
}

.portlet-decoration {
    border-radius: 6px 6px 0px 0px;
	background: none repeat scroll 0 0 #2C2C2C;
}

.portlet-title{color: #EEEEEE;}

.summary {
    font-family: Lucida Grande;
    font-style: italic;
    font-weight: bold;
}

.navbar-fixed-top{margin: 0 20px 18px;}
.nav-list > li > a, .nav-list .nav-header {
  margin-left: 0;
  margin-right: 0;}

.nav > li > a:hover {
  text-decoration: none;
  background: none;
  color: #666666;
}