/* 
    Document   : yii-money
    Created on : Feb 1, 2012, 10:39:02 PM
    Author     : dandeluca

*/


/** General **/
body {
    padding-bottom: 40px;
    padding-top: 60px;
}
.sidebar-nav {
    padding: 9px 0;
}

span.required{color:#ff0000;}

/** Headings **/
h1 {font-size: 24px;line-height: 36px;}

/** Grids **/
.grid-view table.items th {background: none repeat scroll 0 0 #666666;}
.grid-view .filters input, .grid-view .filters select {border: 1px solid #CCCCCC;width: 93%;}


ul.yiiPager a:link, ul.yiiPager a:visited {color: #0E509E;font-weight: bold;padding: 5px 14px;text-decoration: none;display: inline-block;border-radius: 15px 15px 15px 15px;border: 1px solid #DDDDDD;background-color: #FFFFFF;}
.summary{font-family: Lucida Grande;font-style: italic;font-weight: bold;}



footer{text-align: center;}